{% style %}
  #featured_collection_{{ section.id }}{
    padding: {{section.settings.section_padding}}px 0;
  }
  .product_card_vive{
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    background: white;
    position: relative;
  }
  .product_card_vive .product_price{
    font-size:18px;
  }
  .product_card_vive .product_category{
    position: absolute;
    background: white;
    padding: 5px 10px;
    font-size:10px;
    top: 5px;
    left: 5px;
    z-index:10;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    color: #022C3B;

  }
  .product_card_vive:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  }
  .vendor{
    font-size:0.7em;
    text-align: right;
  }
{% endstyle %}
<div class="col-sm-6 col-xl-{{ 12 |  divided_by:section.settings.number_of_product_column_laptop }} col-xxl-{{ 12 |  divided_by:section.settings.number_of_product_column_desktop }} {% if product.images.size > 1 %} multi_img_product {% endif %} ">
  <div class="border mb-3 product_card_vive">
    <img
      src="{{ product.featured_image | image_url: width: "400"  }}"

      class="card-img-top primary_product_card_img"
      alt="{{ product.title }}"
      width="auto"
      height="auto"
    >
    {% if product.images.size > 1 %}
      <img
        src="{{ product.images[1] | image_url: width: "400"  }}"
        class="card-img-top secondary_product_card_img"
        alt="{{ product.title }}"
        width="auto"
        height="auto"
      >
    {% endif %}
    <div class="card-body p-3 d-flex flex-column gap-2 ">
      {% if product.category != null %}
        <span class="product_category">{{ product.category.name }}</span>
      {% endif %}
      <p class="text-uppercase vendor">Vendor : {{ product.vendor }}</p>
      <h5 class="card-title">{{ product.title }}</h5>
      <div class="product-price">
        {% if product.compare_at_price > product.price %}
          {% if product.price_varies %}
            <span>From {{ product.price_min | money }}</span> - <span>{{ product.price_max | money }}</span>
          {% else %}
            <span class="sale_price">{{ product.price | money }}</span> -
            <span class="compare-price">{{ product.compare_at_price | money }}</span>
          {% endif %}
        {% else %}
          {% if product.price_varies %}
            <span>From {{ product.price_min | money }}</span> - <span>{{ product.price_max | money }}</span>
          {% else %}
            <span>{{ product.price | money }}</span>
          {% endif %}
        {% endif %}
      </div>

      <a href="{{ product.url }}" class="vivewear_btn_secondary">View product</a>
    </div>
  </div>
</div>
