{% liquid
  assign collection = section.settings.collection
%}
{% style %}
  #featured_collection_{{ section.id }}{
    padding: {{section.settings.section_padding}}px 0;
  }
  .product_card_vive{
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
  }
  .product_card_vive:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  }
{% endstyle %}
<section id="featured_collection_{{ section.id }}">
  <div class="container">
    <div class="mb-5 text-center">
      {% if section.settings.title != blank %}
        <h2 class="fs-1">{{ section.settings.title }}</h2>
      {% else %}
        <h2 class="fs-1">{{ section.settings.collection.title }}</h2>
      {% endif %}
    </div>
    <!-- product card start -->
    <div class="product_collection_wrapper row">
      {% for product in collection.products limit: section.settings.number_of_product %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>
    {% if collection.products_count > section.settings.number_of_product %}
      <div class="text-center mt-4"><a class="vivewear_btn_primary" href="{{ collection.url }}">View all</a></div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "number_of_product",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 6,
      "label": "Set number of product to show"
    },
    {
      "type": "range",
      "id": "number_of_product_column",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Set product column"
    },
    {
      "type": "header",
      "content": "Section style"
    },
    {
      "type": "range",
      "id": "section_padding",
      "min": 0,
      "step": 1,
      "max": 100,
      "unit": "px",
      "default": 50,
      "label": "Section top bottom padding"
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}
