{% liquid
  assign section_title = ''
  for block in section.blocks
    if block.type == 'title'
      assign section_title = block.settings.section_title | default: ''
    endif
  endfor
%}
{% style %}
  #img_with_txt_{{ section.id }}{
    padding: {{section.settings.section_padding}}px 0;
  }
{% endstyle %}
<section id="img_with_txt_{{ section.id }}">
  <div class="container">
    <div class="row align-items-center">
      {% capture image_position %}
      <div class="col-md-6">
        {% if section.settings.section_image != null %}
          <img
            src="{{ section.settings.section_image | image_url: width: 700}}"
            loading="lazy"
            alt="{{section_title }}"
            width="100%"
            height="auto"
          >
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </div>
      {% endcapture %}
      {% if section.settings.image_positin == 'left' %}
        {{ image_position }}
      {% endif %}
      <div class="col-md-6">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              <h2 class="fs-1">{{ block.settings.section_title }}</h2>
            {% when 'description' %}
              <div>{{ block.settings.section_paragraph }}</div>
            {% when 'action' %}
              <a class="vivewear_btn_primary" href="{{ block.settings.btn_url }}">{{ block.settings.btn_label }}</a>
          {% endcase %}
        {% endfor %}
      </div>
      {% if section.settings.image_positin == 'right' %}
        {{ image_position }}
      {% endif %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Text with Image",
  "settings": [
     {
          "type": "image_picker",
          "id": "section_image",
          "label": "Select image"
      },
      {
           "type": "select",
           "id": "image_positin",
           "label": "Image Position",
           "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              },
            ],
           "default": "left"
      },
    {
      "type": "range",
      "id": "section_padding",
      "min": 0,
      "step": 2,
      "max": 150,
      "unit": "px",
      "default": 50,
      "label": "Section top bottom padding"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name":"Section title",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "section_title",
          "label": "Section title",
          "default":"Section title"
        }
      ]
    },
    {
      "type": "description",
      "name":"section paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "section_paragraph",
          "label": "Write your paragraph here",
          "default":"<p>This is a dummy paragraph</p>"
        }
      ]
    },
    {
      "type": "action",
      "name":"Action button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button label",
          "default":"Shop now"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "URL",
          "default":"/collections"
        }
      ]
    }

  ],
  "presets": [
    {
      "name": "Text with image",
      "blocks": [
        {
          "type": "title",
        },
        {
          "type": "description",
        },
        {
          "type": "action"
        }
      ]
    }
  ]
}
{% endschema %}
