<div
  id="carouselExampleCaptions"
  class="carousel slide"
  {% if section.settings.slider_autoplay %}
    data-bs-ride="carousel"
  {% endif %}
>
  <div class="carousel-indicators">
    {% if section.blocks.size > 1 and section.settings.slider_navigation %}
      {% for block in section.blocks %}
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="{{ forloop.index0 }}"
          {% if forloop.index == 1 %}
            class="active"
            aria-current="true"
            aria-label="Slide {{ forloop.index }}"
          {% endif %}
          aria-label="Slide {{ forloop.index }}"
        ></button>
      {% endfor %}
    {% endif %}
  </div>
  <div class="carousel-inner">
    {% for block in section.blocks %}
      <div
        class="carousel-item {% if forloop.index == 1 %}active{% endif %}"
        {% if section.settings.slider_autoplay %}
          data-bs-interval="{{ block.settings.slider_autoplay_interval}}"
        {% endif %}
      >
        {% if block.settings.slider_img != null %}
          <img
            src="{{ block.settings.slider_img | image_url: width: "1400"  }}"
            loading="eager"
            class="d-block w-100"
            alt="{{ block.settings.slider_img.alt }}"
            width="auto"
            height="auto"
          >
        {% endif %}
        <div class="carousel-caption d-none d-md-block mb-5 py-5">
          <h5 class="fs-2">{{ block.settings.slide_title }}</h5>
          <div>
            {{ block.settings.slide_details }}
          </div>
          {% if block.settings.slide_btn_label != empty %}
            <div>
              <a href="{{ block.settings.slide_btn_url }}" class="vivewear_btn_secondary">
                {{- block.settings.slide_btn_label -}}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% if section.blocks.size > 1 and section.settings.slider_navigation %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  {% endif %}
</div>
{% schema %}
{
  "name": "Slide Show",
  "settings": [
    {
      "type": "checkbox",
      "id": "slider_autoplay",
      "label": "Enable autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "slider_navigation",
      "label": "Enable Slider navigation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slider_img",
          "label": "Select a image",
          "info": "Max 1200X1200"
        },
        {
          "type": "number",
          "id": "slider_autoplay_interval",
          "label": "Set Slider autoplay interval",
          "default": 5000,
          "info": "This will only apply if autoplay is enabled"
        },
        {
          "type": "header",
          "content": "Slider contents"
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Add a title",
          "default": "50% flat sale !"
        },
        {
          "type": "richtext",
          "id": "slide_details",
          "label": "Add a details",
          "default": "<p>Some representative placeholder content for the first slide.</p>"
        },
        {
          "type": "text",
          "id": "slide_btn_label",
          "label": "Button label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "slide_btn_url",
          "label": "Button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slide Show"
    }
  ]
}
{% endschema %}
